.sectionTitle {
    font-family: "Metal Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
  }
  
  #music-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #music-content div {
    margin: 30px;
  }
  
  #music-content div h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  #music-content .prodDetails {
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
  }
  
  #music-content .shopItemButton {
    cursor: pointer;
    padding: 8px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
  }