.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  padding: 1rem;
  background-color:grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  display:flex;
  flex-wrap: wrap;
}

.social{

  padding: 1rem;
  background-color: #434343;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  }



.product-item {
  padding: 10px;
  
}

.home {
  background-color: white;
  justify-content: space-between;
  padding: 20px 100px;
  color: aliceblue;
}

.tours {

  background-color: white;
  justify-content: space-between;
  padding: 20px 40px;
  color: black;

}

.tour-item {
  background-color: white;
  justify-content: space-between;
  padding: 20px 40px;
  color: black;

}

.button {
  background-color: dark  #434343;
  color: white;
}
